*,
*:before,
*:after {
  box-sizing: border-box; /* includes the box border and margin in the overall box size */
}
html, body {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

body{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    background-color: #f1efef;
    
}
header{
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-top: 10px;
}
.score-board{
    border-top: 5px solid #0d0505;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
.results{
    border: 5px groove black ;
    width:50%;
    margin: auto;
   
}
.choices{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
.choice img{
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius: 55%;
    border: 5px solid black;
    transition: 0.3s ease;

}
.choice img:hover{
    cursor: pointer;
    background-color: rgb(200, 183, 215);
}

